<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!--CHANGE TO NAME VARIABLE-->
    <title><%= patient.lastName %>, <%= patient.firstName %>, <%= patient.middleName.charAt(0)%></title>
    <link rel="stylesheet" href="/css/index-style.css">
    <link  rel="stylesheet" href="/css/patient.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <!--ADD JS CODE HERE-->
    <script type="text/javascript" src=""></script>
</head>
<body>
    <div class="fixed">
        <!-- HEADER PARTIAL -->
        <%- include('../partials/header') %>
        <!-- END HEADER PARTIAL -->
    </div>

    <!-- Formatting Birthdate -->
    <%var dateString = patient.birthday;%>
    <%dateString = new Date(dateString).toLocaleDateString();%>

    <!-- Calculating Age -->
    <%const now = new Date();%>
    <%const diff = Math.abs(now - patient.birthday );%>
    <%const age = Math.floor(diff / (1000 * 60 * 60 * 24 * 365)); %>

    <!-- Determining Type of Consult for div tag -->
    <%var consult = ""%>
    <%if (patient.type === "Surgical") {%>
      <%consult = "surgical"; }%>
    <%if (patient.type === "Purely Medical") {%>
      <%consult = "medical"; }%>
    <%if (patient.type === "Checkup") {%>
      <%consult = "checkup"; }%>


    <div id="page">
        <div id="info">
            <!--lastName, firstName middleName(just the initial).-->
            <h3>
                <%= patient.lastName %>, <%= patient.firstName %> <%= patient.middleName.charAt(0) %>.
                <div class="edit">
                    <button onclick="window.location.href='/patient/edit/<%= patient._id %>'" class="editdemo burger">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </h3>
            <div id="demographic">
                <div class="demo graphic">
                    <div class="demo">
                        <b>Age:<br>Gender:<br>Occupation:<br>Referred by:</b>
                    </div>
                    <div class="demo"> <!--REPLACE WITH VARIABLES-->
                        <%= age %>
                        <br><%= patient.gender %>
                        <br><%= patient.occupation %>
                        <br><%= patient.referral %>
                    </div>
                </div>
                <div class="demo">
                    <div class="demo space">
                        <b>Birthday:<br>Contact:<br>Address:</b>
                    </div>
                    <div class="demo">  <!--REPLACE WITH VARIABLES-->
                        <%= dateString %>
                        <br><%= patient.contactNumber %>
                        <br><%= patient.address %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="consultation">
        <h3 class="consult-title">
            CONSULTATIONS
        </h3>
        <!--JS CODE to generate consultation instances-->
        <div class="consult-instance">
            <div class="date"> <!--REPLACE WITH VARIABLES-->
                06/21/2022
                <div class="edit">
                    <button type="submit" class="editconsult burger">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <div class="consultation">
                <div>
                    <div class="split">
                        <div class="title">
                            Subjective Findings
                        </div>
                        <ul class="list"> <!--REPLACE WITH VARIABLES-->
                            <li>
                                4 days history of right flank pain and gross hematuria, (-) dysuria, (-) fever 
                            </li>
                            <li>
                                PMHx: Unremarkable
                            </li>
                        </ul>
                        <div class="title">
                            Objective Findings
                        </div>
                        <ul class="list"> <!--REPLACE WITH VARIABLES-->
                            <li>
                                PE: (+) minimal CV tenderness, right
                            </li>
                            <li>
                                <button type="submit" class="file">
                                    <i class="fa fa-file-text-o"></i> UA (6/18/2022)
                                </button>
                            </li>
                            <li>
                                <button type="submit" class="file">
                                    <i class="fa fa-file-text-o"></i> KUB-UTZ (6/18/2022)
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="split">
                        <div class="title">
                            Assessment
                        </div>
                        <ul class="list"> <!--REPLACE WITH VARIABLES-->
                            <li>
                                Nephrolithiasis, Right
                            </li>
                        </ul>
                        <div class="title">
                            Plan
                        </div>
                        <ul class="list"> 
                            <li style="font-weight: bold;">
                                Labs
                                <li class="circle"> <!--REPLACE WITH VARIABLES-->
                                    For possible PCNL, Right
                                </li>
                            </li>
                            <li style="font-weight: bold;">
                                Meds
                                <li class="circle"> <!--REPLACE WITH VARIABLES-->
                                    N/A
                                </li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="button">
        <button type="submit" class="square">
            <div class="left"><i class="fa fa-plus"></i></div>
            <div class="right">Consultation</div>
        </button>
    </div>
    <!-- JS Script -->
    <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>